<template>
  <div
    :class="{'is-dark': dark}"
    :style="[{height: `${height}px`}]"
    class="shortcuts-container"
  >
    <div v-if="loading" class="ui segment basic">
      <div class="ui active centered inline loader"></div>
    </div>
    <template v-if="!loading">
      <CustomButton
        v-for="shortcut in shortcuts"
        :key="shortcut.value"
        :dark="dark"
        :color="color"
        :selected="shortcut.isSelected"
        with-border
        class="shortcut-button"
        @mouseover="shortcut.isHover = true"
        @mouseleave="shortcut.isHover = false"
        @click="select(shortcut)"
      >
      <span class="lm-fs-12 flex-1">
        {{ shortcut.label }}
      </span>
      </CustomButton>
    </template>
  </div>
</template>
<script>
  import moment from 'moment'
  import CustomButton from '@/VueCtkDateTimePicker/_subs/CustomButton'

  export default {
    name: 'DefaultShortcuts',
    components: { CustomButton },
    props: {
      value: { type: Object, required: false, default: null },
      color: { type: String, default: String },
      dark: { type: Boolean, default: false },
      loading: { type: Boolean, default: false },
      dateTime: { type: Object, default: Object },
      customShortcuts: { type: Array, default: Array },
      height: { type: Number, default: Number, required: true }
    },
    data () {
      return {
        shortcuts: []
      }
    },
    watch: {
      customShortcuts (newVal, oldVal) {
        if (newVal && Array.isArray(newVal) && JSON.stringify(newVal) !== JSON.stringify(oldVal)) {
          this.init()
        }
      }
    },
    mounted () {
      this.init()
    },
    methods: {
      init () {
        this.overrideCustomShortCuts()

        const selected = this.shortcuts.filter(shortcut => shortcut.isSelected)
        if (selected[0]) {
          this.select(selected[0])
        }
      },
      overrideCustomShortCuts () {
        const customShortCuts = []
        this.customShortcuts.forEach(customShortcut => {
          if ((customShortcut.data || this.isValidValue(customShortcut.value)) && customShortcut.label) {
            customShortCuts.push({
              label: customShortcut.label,
              value: customShortcut.value,
              data: customShortcut.data,
              isHover: !!customShortcut.isHover,
              isSelected: !!customShortcut.isSelected
            })
          } else if (!customShortcut.label) {
            window.console.warn(`The label of '${customShortcut.value}' custom shortcut must be indicated`)
          } else {
            window.console.warn(`This '${customShortcut.value}' shortcut is not valid.`)
          }
        })
        if (customShortCuts.length) {
          this.shortcuts = customShortCuts
        }
      },
      unSelectAllShortcuts () {
        this.shortcuts.forEach(sc => {
          sc.isSelected = false
        })
      },
      selectShortcut (shortcut) {
        this.unSelectAllShortcuts()
        shortcut.isSelected = true
      },
      select (shortcut) {
        this.selectShortcut(shortcut)
        const { value, data } = shortcut
        if (data) {
          this.$emit('select-data', { data })
        } else {
          this.$emit('change-value', { value })
        }
      },
      isValidValue (value) {
        return value && moment(value).isValid()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .ui.loader:after {
    border-color: #767676 transparent transparent !important;
  }
  .shortcuts-container {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    padding: 10px 5px;
    border-right: 1px solid #EAEAEA;
    overflow: auto;
    button.shortcut-button {
      margin-bottom: 10px;
      width: 100%;
    }
    &.is-dark {
      border-color: lighten(#424242, 20%);
    }
  }

  @media screen and (max-width: 415px) {
    .shortcuts-container:not(.inline) {
      width: 100%;
      border-bottom: 1px solid #EAEAEA;
    }
    .shortcuts-container.is-dark {
      border-color: lighten(#424242, 20%);
    }
  }
</style>
